.hero {
	background-color: #fefaf5;
	padding: 5.5em 0em;
	position: relative;
}
.hero__container {
	width: 90%;
	margin: auto;
	padding-top: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero__text-wrapper {
	width: 60%;
}
.hero__heading {
	padding-bottom: 1em;
	font-size: 4.5rem;
}
.hero__text {
	padding-bottom: 3.5em;
	font-size: 1.8rem;
}
.hero__img-wrapper {
	text-align: right;
}
.hero__img {
	width: 80%;
}
.recommendations {
	padding: 4.5em 0em;
}
.recommendations__container {
	width: 90%;
	margin: auto;
	padding-bottom: 2.5em;
}
.recommendations__heading {
	font-size: 2.8rem;
	margin-bottom: 1.3em;
}
.cards-container--destination {
	display: flex;
	justify-content: space-between;
}
.card--destination {
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
	position: relative;
}
.recommendations__destination-img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
.recommendations__destination-text {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}
/* Diving Deeper Code */
.card--destination:hover {
	border: 0.3rem solid rgba(255, 0, 0, 0.2);
}
@media (min-width: 768px) and (max-width: 1279px) {
	.hero__heading {
		font-size: 4rem;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.hero__img-wrapper {
		position: absolute;
		display: none;
	}
	.hero__text-wrapper {
		width: 100%;
	}
	.hero__heading {
		font-size: 3rem;
	}
	.cards-container--destination {
		flex-direction: column;
	}
}
